// -- VARIABLEN --

// Variable um die Höhe des Menufensters zu berechnen
$bla: calc(-100vh + 8vh);

// Variable für den Wert der Dauer der Animation rotate
$rt: 10s;

// Variable für den Wert der Dauer der Animation z-translate 
$zt: 8s;

// Variable für den Wert des Delay der Animation z-translate 
$delay: 2s;